<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to HypeScoop</h1>
    <p>HypeScoop is a free tool that you can use to analyze the sentiment of the tweets related to any twitter user. <br> It can be a celebrity, a company, even yourself.</p>
    
    <div class="row">
      
      <div id="search-form-home" class="col-lg-6"> 
      
        <form action="/analyze">
          <div class="input-group">
            <input type="text" name="user" class="form-control" placeholder="Type the name of a twitter user here...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Go!</button>
            </span>
          </div>
        </form>
      </div>
      
    </div>

  </div>
</div>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>HypeMeter</h2>
      <p>Discover the HypeMeter and see whats is the overall sentiment about any user. Are people being neutral, positive or negative?</p>
      <p><a class="btn btn-default" href="/analyze?user=everlane" role="button">See an example &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Free</h2>
      <p>HypeScoop is free. You will never pay anything to use it. Promise.</p>
      <p><a class="btn btn-default" href="/about" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Open Source</h2>
      <p>HypeScoop is open source. You can modify it, and do whatever you want.</p>
      <p><a class="btn btn-default" href="https://gitlab.com/vernisan/hype_scoop" role="button" target="_blank">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2016 HypeScoop, Inc.</p>
  </footer>
</div>