<% provide(:container_id, "analyze-container") %>

<% flash.each do |message_type, message| %>
  <div class="row flash-container">
    <div class="col-lg-12">
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    </div>
  </div> 
<% end %>

<% if @twitterUser.nil? == false && @apiError.blank? %>

  <div class="row">
    <div class="col-lg-6">
      <h1>
        <a class="twitter-user-heading" target="_blank" href="https://twitter.com/<%= @twitterUser.screen_name %>">
          <span class="author-avatar">
            <img class="image-avatar" src="<%= @twitterUser.profile_image_url_https %>">
          </span>
          <%= @twitterUser.screen_name %>
        </a>
      </h1>
    </div>
    
    <div class="col-lg-6" id="search-bar-analyse">
      <form action="/analyze">
        <div class="input-group">
          <input type="text" name="user" class="form-control" placeholder="Type the name of a twitter user here...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
          </span>
        </div>
      </form>
    </div>
    
  </div>
  
  <%if @tweets.blank? == false %>
  
    <% tooltipScore = "A score greater than 0.1 represents a positive sentiment. Between -0.1 and 0.1, it is neutral. Less than -0.1 is negative." %>
    
    <div class="row" id="hype-meter" >
      <div class="col-lg-6">
        <strong>HypeMeter:</strong> <span class="<%= @averageSentiment %>-sentiment"><%= @averageSentiment %></span>
      </div>
    </div>
    
    <div class="row" id="hype-score" >
      <div class="col-lg-3">
        <div class="tooltipholder"><strong>Average Score:</strong> <span class="<%= @averageSentiment %>-sentiment"><%= @averageScore.round(2) %> </span> <span class="tooltiptext"><%= tooltipScore %></span></div>
      </div>
    </div>
    
    <div class="row headers">
      <div class="col-lg-6">
        Tweet
      </div>
      <div class="col-lg-3">
        <div class="tooltipholder">Score<span class="tooltiptext"><%= tooltipScore %></span></div>
      </div>
      <div class="col-lg-3">
        Sentiment
      </div>
    </div>
      
    <% @tweets.each do |tweet| %>
    <div class="row tweet-row">
      <div class="col-lg-6">
        
        <div class="tweet">
          
          <div>
            <a class="screen-name" target="_blank" href="https://twitter.com/<%= tweet.user.screen_name %>">
              <span class="author-avatar small-avatar">
                <img class="image-avatar" src="<%= tweet.user.profile_image_url_https %>">
              </span>
              <%= tweet.user.screen_name %>
            </a>
            
            <span class="tweet-time pull-right"><%= tweet.created_at.to_s.sub("\+0000", "") %></span>
          </div>
          
          <div>
            <a class="tweet-link" target="_blank" href="https://twitter.com/<%= tweet.user.screen_name.downcase %>/status/<%= tweet.id %>"><%= tweet.text %></a>
          </div>
          
        </div>
        
      </div>
      
      <div class="col-lg-3">
        <span class="<%= @moodMap[tweet.id][:sentiment] %>-score"> <%= @moodMap[tweet.id][:score].round(2) %> </span>
      </div>
      
      <div class="col-lg-3">
        <span class="<%= @moodMap[tweet.id][:sentiment] %>-sentiment"> <%= @moodMap[tweet.id][:sentiment] %> </span>
      </div>
    </div>
    <% end unless @tweets.blank?%>
  
  <% else %>
  
    <div class="row" id="no-tweets-warn">
      Sorry, this user has no recent related tweets in english. <a href="/analyze?user=madonna">Try a more popular one.</a>
    </div>
  
  <% end %>

<% else %>

  <div class="row">
    <div class="col-lg-6">
      <h2>Search:</h2>  
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <form action="/analyze">
        <div class="input-group">
          <input type="text" name="user" class="form-control" placeholder="Type the name of a twitter user here...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
          </span>
        </div>
      </form>
    </div>
  </div>

<% end %>





