// Place all the styles related to the Analyzer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#analyze-container {
  padding-bottom: 40px;
}

.tweet-row {
  padding: 10px 0;
}

a.twitter-user-heading {
  
  color:black;
  
  :visited { 
    text-decoration: none;
  }
  
  :hover {
    color: #2b7bb9;
  }
  
}

.tweet {
  overflow: hidden;
  #cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  max-width: 520px;  
  padding: 5px;
  
  a.screen-name {
    font-weight: bold;
    font-size: 16px;
    color: black;
  }
  
  a.screen-name:hover, a.screen-name:visited {
    color: #2b7bb9;
  }
  
  a.tweet-link { 
    color: black;
  }
  
  a.tweet-link:hover {
    color: #2b7bb9;
  }
  
  a.tweet-link:visited {
    text-decoration: none;
  }
  
  .tweet-time{
    font-size: 12px;
    color: #ccc;
  }
}

.author-avatar {
  #position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: transparent;
  border-radius: 4px;

  .image-avatar{
    border: 0;
    max-width: 100%; 
    max-height: 100%;
  }
  
}
  
.small-avatar {
  width: 36px;
  height: 36px;
}

#hype-meter {
  padding-top: 10px;  
  padding-bottom: 10px; 
  font-size: 20px;
}

#hype-score {
  padding-bottom: 40px; 
  font-size: 16px;
}

#search-bar-analyse{
  padding-top: 40px;
}

.flash-container {
  padding: 20px 0;
}

.headers {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
}

#no-tweets-warn {
  padding-top: 40px;
  font-size: 20px;
  font-weight: bold;
}