@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#search-form-home{
  #margin: 0 auto;
  #float:none;
}

.neutral-sentiment, .neutral-score{
  color: #999;
}

.positive-sentiment, .positive-score {
  color: #090;
}

.negative-sentiment, .negative-score {
  color: #900;
}

.tooltipholder {
    position: relative;
    display: inline-block;
    cursor: pointer;
    #border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipholder .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
    font-weight: normal;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipholder:hover .tooltiptext {
    visibility: visible;
}

.tooltipholder .tooltiptext {
    padding: 8px;
    width: 240px;
    top: 100%;
    left: 50%; 
    margin-left: -120px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltipholder .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #222 transparent;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container{
  padding-top: 10px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}