<footer class="footer">
  <div class="container">
    <small>
      HypeScoop, the free sentiment analyzer.
    </small>
    <nav>
      <ul>
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </div>
</footer>