<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    
    <div class="container" id="<%= yield(:container_id) %>">
      <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
  </body>
</html>